@model Online_shopping_management1.Models.Order_table
@{
    ViewBag.Title = "AcceptOrReject";
    Layout = "~/Views/_Manager_Director.cshtml";
}



<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <Center>
                    <h1>Accept or Reject The Order</h1>
                </Center>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.oid)

                        <div class="form-group">

                            <div class="col-md-10" style=" display:none  ">
                                @Html.DropDownList("Stationary_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Stationary_id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-10" style=" display:none  ">
                                @Html.DropDownList("Empid", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Empid, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <h3>Status Of Order</h3>
                            <div class="col-md-10">
                                @Html.DropDownList("Statid", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Statid, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-md-10" style=" display:none ">
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Update" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>