@model Online_shopping_management1.Models.Order_table

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_Mainlayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <Center>
                    <h1>Edit Your Order</h1>
                </Center>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.oid)



                        <div class="form-group">
                            <h3>Stationary Name</h3>
                            <div class="col-md-10">
                                @Html.DropDownList("s_id", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Stationary.Stationary_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        @Html.HiddenFor(model => model.Date_Of_Order, new { htmlAttributes = new { @class = "form-control" } })

                        @Html.HiddenFor(model => model.Statid, new { htmlAttributes = new { @class = "form-control" } })

                        <div class="form-group">
                            <h3>Stationary Quantity</h3>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.6.0.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>